@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --sb-track-color: #ffffff00;
  --sb-thumb-color: #000000;
  overflow: overlay;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@screen md {
  .dialog-content-md {
    max-height: calc(100vh - 64px);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.body-no-margin.body-no-margin {
  margin-right: 0 !important;
}

:root {
  --font-contract: 'Playfair Display', serif;
  --rpv-default-layout__container-border-color: #ff0000;
}
